{% extends "church/base_yaf.html" %}
{% load static %}
{% block content %}
    <title>studio</title>

<body>
<img src="static/img/bishop.jpg" alt="JESUS IS MY SAVIOUR" width="550" height="350" align="centre" /><img src="static/img/pastor.jpg" alt="JESUS IS MY SAVIOUR" width="350" height="350" align="centre" />

<h5 style="color:red"> WELCOME  to  YOUTH ALIVE FELLOWSHIP </h5>
<h5 style="color:blue">THE GIANT IN YOU IS COMING ALIVE THIS YEAR</h5><h5 style="color:green"> STAY CONNECTED THIS IS YOUR TIME</h5>
<h5 style="color:red">to ENCOUNTER LIBERATION </h5>
><img src="static/img/nice.jpg" alt="JESUS IS MY SAVIOUR" width="900" height="650" align="centre" />




</body>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>

{% include 'church/yaf_footer.html' %}

</html>


{% endblock content %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
