{% extends "church/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<br>
<h5 style="color:blue">GOD IS A GREAT GOD <br>HE IS WORKING WONDERS IN OUR MIGHT</h5>
<br>

<img src="static/img/RP.png" alt="JESUS IS MY SAVIOUR" width="1100" height="500"  align="centre" >

</body>



</body>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
{% include 'church/footer.html' %}
</html>
{% endblock content %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


