{% load static %}



    <div class="footer">
		<div class="footer-content">
			<div class="footer-section about">
                <h1 class="logo-text"><span>Winners </span>Chapel</h1>
                
                <p>
                    "And i will restore to you the years that the
                    locust hath eaten, the cankerworm, the
                    caterpillar,and the palmerworm, my great army
                    which i sent among you"
                    Joel 2:25
                </p>
                <div>
                    <span><i class="fas fa-phone"></i>&nbsp; +234-803-578-4536</span>
                    <p><span><i class="fas fa-envelope"></i>&nbsp; info@winnerschapeltotalgarden.org</span></p>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/realbuar"><i class="fab fa-facebook"></i> </a>
                    <a href="https://www.instagram.com/realbuar"><i class="fab fa-instagram"></i> </a>
                    <a href="https://twitter.com/realbuar"><i class="fab fa-twitter"></i> </a>
                    <a href="https://www.youtube.com/realbuar"><i class="fab fa-youtube"></i> </a>
                </div>
            </div>
			<div class="footer-section links">
                <h2>Quick Links</h2>
            <br>

                <a href="{% url 'church:wsf_list' %}">
                    W.S.F
                </a>

                <a href="{% url 'church:book_list' %}">
                    Books of the Month
                </a>
                <a href="{% url 'church:new' %}">
                    News
                </a>
                <a href="{% url 'church:back' %}">
                    Contact Us
                </a>
                <a href="{% url  'church:amen' %}" >
                    Youth Alive Fellowship
                </a>

            </div>


			<div class="footer-section contact-form">
                <h2>Services Times </h2>
                <br>
                <p>Sunday: 7AM, 9.30AM</p>
                <p>Wednesday: 5PM</p>
                <p>Covenant Hour of Prayer:</p>
                <p>Mon to Fri: 6AM - 7AM</p>
                <p><img src="static/img/blessed.png"></p>
               

            </div>

		</div>
        <div class="footer-bottom">
            <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This  is  with <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i>
            </p>
        </div>
	</div>

