{% extends "church/base.html" %}
{% load static %}
{% block content %}

<body>
<br/>
<br/>
<br/>


                                                <br><h1 style="color: blue" > WELCOME TO<br/> WINNERS CHAPEL TOTAL GARDEN</h1><br/>

<img src="static/img/RP.png" alt="JESUS IS MY SAVIOUR" width="1100" height="500"  align="centre" >
<img src="static/img/niw.jpg" alt="JESUS IS MY SAVIOUR" width="550" height="450"  align="centre"><img src="static/img/technical.jpg"  width="550" height="450"  align="centre">
                                                    <p style="color: purple"><b>HERE IS MEANT FOR PEOPLE THAT ARE READY TO WIN</b>
                                                        <br/><b style="color:black">ALL  BATTLES OF LIFE <br/></b>
                                                        <h5 style="color:blue">THROUGH</h5>
                                                        <h4 style="color: red">HEARING, <br/> READING  AND FOLLOWING </h4>
                                                        <h3 style="color: yellow">THE LIBERATION MANDATE</h3> <br/>
                                                        <h2 style="color: green"> HALELUYAH !!!.</h2>
                                                    </p>

</body>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
{% include 'church/footer.html' %}



{% endblock content %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
