{% extends 'church/base.html' %}
{% load static %}
{% block content %}


<br>

<br>

<br>

    <ul>
       {% for topic in topics %}
          <p>
              <a href="{% url 'church:good' topic.id %}" class="btn btn-info" target="_blank">
                  {{ topic }}
              </a>
          </p>
       {% endfor %}
    </ul>
<br>

<br>

<br>
<br>

<br>

<br>

{% include 'church/footer.html' %}
{% endblock content %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

