
{% load static %}



    <div class="footer">
		<div class="footer-content">
			<div class="footer-section about">
                <h1 class="logo-text"><span>Youth Al</span>ive Fellowship</h1>
                <p>
                    "The name of the LORD is a strong tower: the righteous runneth into it and is safe"
                    Prov.18:10 

                <p>

                </p>
                <div>
                    <span><i class="fas fa-phone"></i>&nbsp; +234-803-578-4536</span>
                    <p><span><i class="fas fa-envelope"></i>&nbsp; info@winnerschapeltotalgarden.org</span></p>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/yaf"><i class="fab fa-facebook"></i> </a>
                    <a href="https://www.instagram.com/yaf"><i class="fab fa-instagram"></i> </a>
                    <a href="https://twitter.com/yaf"><i class="fab fa-twitter"></i> </a>
                    <a href="https://www.youtube.com/yaf"><i class="fab fa-youtube"></i> </a>
                </div>
            </div>
			<div class="footer-section links">
                <h2>Quick Links</h2>
            <br>


                <a href="#">
                    Pastorate
                </a>
                <a href="#">
                    Choir
                </a>
                <a href="#">
                    Galleries
                </a>
                <a href="{% url 'church:alayo' %}">
                    Contact YAF
                </a>
                <a href="#">
                    News
                </a>

            </div>


			<div class="footer-section contact-form">
                <h2>UPCOMING PROGRAMMES</h2>
                <br>


            </div>
		</div>
       <div class="footer-bottom">
            <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This  is  with <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i>
            </p>
        </div>
	</div>




